#Container{
    background-color: rgb(106, 90, 253);
}

h1{
    font-size: 3vw;
    color: white;
}

#game-part{
    background-color: rgb(176, 223, 229);
    width: 27vw;
    height: 27vw;
}

#game-info{
    font-size: 2vw;
    color: white;
}
.box{
    margin: 0;
    padding: 0;
    height: calc(27vw/3);
    font-size: calc(27vw/3);
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
}

#playerO, #playerX, #playerO-score, #playerX-score {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden{
    display: none;
}

#reset {
    color: white;
    font-size: 3vw;
}

#play-again {
    font-size: 3vw;
}

#player-type {
    height: 5vw;
    filter: invert(100%);
}

p{
    color: white;
}